.content{
  padding-top: 3em;
  padding-left:1em; padding-right:1.25em;
  text-align: center;
}
input{
  margin: 0.3em;height: 3.4em;
  height: 3em;
  padding-left: 1em;
}
.on{
  border: 1px solid #cfa43f;
}

.inputone{
  width: 22.5em;

}
.inputtwo{
width: 11em;
border: 1px solid #a6a6a6 !important;
}
.confirm{
  display: flex;
align-items: center;
width: 21.5em;
}
.images{
  width: 15em;
  height:2.755em;
}
button{
  margin-top: 1.7em;
}
