body{
  background-color: white;
}
.ing{
  color: #75b66a!important;
}
button{
  width: 7.5em;height: 2em;
  font-size: 0.9em!important;
  margin-top: 0;
}
a{
  font-size: 0.9em!important;
}
.list{
  padding: 0.6em 0em;background-color: white;
  border-bottom: 1px solid #d6d6d6;
  margin: auto;text-align: center;
}
.list a{
  font-size: 1.2em!important;
  padding: 0em 1.65em;
}
.on{
  color: #cc9a36;
}
.border{
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}
.hint{
  background-image: url(../images/investmenthint.png);
  background-size: 100% 100%;
    margin: 0 auto; text-align: center;
    padding: 0.4em;
}
.borrow{
  font-size: 1em;
}
.hint span{
  color: #cc9a36;
  font-size: 1.8em;
}
.congratulate{
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  font-size: 0.86em;
  display: block;
}
h2{
  color: black;
  font-size: 1.2em;
}
.state span{
  color: #cc9a36;
  font-size: 1.45em;
}
.onepart{
  border-bottom: 1px solid #dedede;
padding: 0.8em 1em 0.8em 1.25em;
}
.onepart div {
  display: flex;
  justify-content: space-between;
}
.onepart div:nth-child(2){
  font-size: 0.875em;
  margin: 0.5em 0;
}
.onepart div:nth-child(5) , .onepart div:nth-child(3) , .onepart div:nth-child(4) {
font-size: 0.875em;
color: #a7a7a7;
margin-bottom: 0.95em;
}
